.pageContainer {
  padding-top: 80px;

  height: 900px;
  width: 100%;

  display: flex;
  justify-content: center;
  // align-items: center;

  &_contents {
  }
}

#about {
  // padding-top: 200px;
}
