.reportContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  &_search {
    display: flex;
    flex-direction: column;
    .label {
      padding-top: 20px;
      text-align: center;
    }
    .date {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
    }
  }

  &_contents {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &_items {
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 20px;

      .label {
        font-weight: 600;
        font-size: 25px;
      }
      .charts {
        display: flex;
        flex-direction: row;
        gap: 50px;
      }
    }
  }

  &:last-child {
    padding-bottom: 50px;
  }
}

///cssss
.btnExcel {
  button {
    background: rgba(12, 133, 245, 0.521);
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;

    &:hover {
      background: rgba(12, 55, 95, 0.521);
      color: white;
      transform: scale(1.01);
    }
  }
}
.formReports {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}

.formReportsOverall {
  display: flex;
  align-items: center;
}
