.menuBooks {
  width: 100%;

  &_list {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    flex-wrap: wrap;
    gap: 20px;

    &_items {
      width: 20%;
      // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;

      &:hover {
        cursor: pointer;
        transition: 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
          rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
      &_img {
        // width: 100%;
        // width: 220px;
        // height: 300px;
        padding-top: 10px;
        width: 100%;

        display: flex;

        justify-content: center;
        align-items: center;
        img {
          // width: 200px;
          // height: 270px;
          width: 90%;
        }
      }
      &_contents {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 10px;
        &_title {
          .btnClick {
            background: #3f51b5;
            &_icon {
              font-size: 20px;
            }
            &_name {
              margin-left: 10px;
              line-height: 20px;
            }
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}
