.checkoutForm {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  gap: 20px;

  //Form search
  &_input {
    margin-top: 20px;
    width: 50%;

    display: flex;
    flex-direction: row;
    gap: 10px;

    .form-floating {
      flex: 4;
      input {
        height: 50px;
        &:focus {
          box-shadow: none;
        }
      }
      label {
        line-height: 8px;
      }
    }
    button {
      flex: 1;
      height: 40px;
      &:focus {
        box-shadow: none;
      }
    }
  }

  //Form contents
  .tableForm {
    width: 95%;
    text-align: center;
  }

  //Button
  button {
    &:focus {
      box-shadow: none;
    }
  }
}
