.userDashBoard {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  //Menu user
  &_links {
    width: 90%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 20px;
      color: rgb(24, 4, 4);
      text-decoration: none;
      font-weight: 300;
      &:hover {
        color: rgb(62, 8, 255);
        border-bottom: 1px solid rgb(62, 8, 255);
      }
    }
    .active {
      color: rgb(62, 8, 255);
      border-bottom: 1px solid rgb(62, 8, 255);
    }
  }
  //Contents
  &_contents {
    width: 98%;
    height: 900px;

    display: flex;
    justify-items: center;
    align-items: center;
  }
}
