.header {
  // background: #1a94ff;
  background: #3f51b5;
  width: 100vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &_logo {
    flex: 3;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
      img {
        width: 100px;
      }
      span {
        font-size: 40px;
        font-weight: 300;
      }
      &:hover {
        color: rgb(255, 255, 255);
      }
    }
  }
  &_search {
    flex: 6;
    display: flex;
    justify-content: center;
    &_form {
      width: 80%;
      display: flex;
      flex-direction: row;
      .formInput {
        flex: 5;
        &:focus {
          box-shadow: none;
        }
      }
      .formSearch {
        flex: 1;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  &_btn {
    flex: 3;
    font-size: 20px;
    font-weight: 200;

    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    gap: 10px;
    .icon {
      font-size: 40px;
      color: white;
      cursor: pointer;
    }
    //when login: ===> login btn ===> logout btn
    .nameUser {
      color: white;

      width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    // .logged {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: flex-start;
    //   align-items: center;
    //   gap: 10px;
    //   span {
    //     // width: 110px;
    //     color: white;
    //     font-weight: 200;
    //     text-overflow: ellipsis;
    //     overflow: hidden;
    //   }
    // }
  }
}
