.menuBooks {
  width: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  // gap: 20px;
  gap: 5px;
  &_items {
    width: 300px;
    align-items: center;

    margin-bottom: 50px;
    img {
      margin-top: 20px;
      width: 200px;
      height: 280px;
    }
    .card-footer {
      width: fit-content;
    }
    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1);

      cursor: pointer;
    }
  }
}
