html {
  font-family: "Arial";
  padding: 0;
  margin: 0;
}

//Fix scroll
div::-webkit-scrollbar {
  width: 0px;
}
.mainPage {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 10px;

  &_header {
    width: 100vw;

    position: fixed;
    // // left: 0;
    z-index: 10;
    top: 0;
  }

  &_contents {
    flex-direction: column;
    align-items: center;
    // gap: 100px;
  }
}
