.notFoundMenu {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-image: url(../../../assets/images/NotFound.gif);
  font-weight: 100;
  span {
    font-size: 100px;
  }
  a {
    text-decoration: none;
    font-size: 30px;
    height: 50px;

    color: white;
    &:hover {
      color: white;
      border-bottom: 1px solid rgb(255, 255, 255);
    }
  }
}
