.confirmMenu {
  width: 95%;
  height: 600px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 100px;
  //Link bên trái
  &_links {
    flex: 2;

    height: 360px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      color: black;
    }
    .active {
      width: fit-content;
      color: #3e08ff;
      border-bottom: 1px solid #3e08ff;
    }
  }
  //Content bên phải
  &_contents {
    flex: 7;
    height: 100%;
  }
}
