.paginationForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
  .formSelect {
    .select {
      &:focus {
        box-shadow: none;
      }
    }
  }
  .pagination {
    .page-item {
      .page-link {
        &:focus {
          box-shadow: none;
          // background: rgb(140, 0, 255);
          // color: white;
          background: #fff;
        }
      }
    }
  }
}
