.navMenu {
  width: 98%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  .navMenuItems {
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    gap: 25px;

    .navMenuItem {
      a {
        font-size: 18px;
        text-decoration: none;
        // color: rgb(107, 51, 51);
        color: white;
        // color: #fff;
        // flex: 2;
      }
      a.active {
        // border-bottom: 1px solid rgb(158, 80, 221);
        // color: blueviolet;
        border-bottom: 1px solid rgb(255, 255, 255);
      }
    }
  }
}

//responsive
@media screen and (max-width: 870px) {
  .navMenu {
    .navMenuItems {
      .navMenuItem {
        a {
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .navMenu {
    .navMenuItems {
      .navMenuItem {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
