.categoriesForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  legend {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    // margin-top: 20px;
  }
  &_search {
    width: 900px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    .searchInput {
      width: 100%;
    }
    .searchChecbox {
      // width: 60%;
      width: 740px;
      display: flex;
      flex-direction: row;
      padding: 0.375rem 1.25rem 0.375rem 0.75rem;

      gap: 40px;
      select {
        flex: 1;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  &contents {
    width: 900px;
  }
}

//responsive
@media screen and (max-width: 1300px) {
  .categoriesForm {
    &_search {
      width: 700px;
    }
    .searchChecbox {
      width: 580px;
    }
  }
}

@media screen and (max-width: 600px) {
  .categoriesForm {
    &_search {
      width: 500px;
      button {
        font-size: 12px;
      }
    }
    .searchChecbox {
      width: 420px;
    }
  }
}
@media screen and (max-width: 400px) {
  .categoriesForm {
    legend {
      font-size: 20px;
    }
    &_search {
      width: 350px;
      button {
        font-size: 8px;
      }
    }
    .searchChecbox {
      width: 300px;
    }
  }
}
