$color_bg: #e83e8c;
$color_font: #fff;

.containProducts {
  margin-top: 100px;
  width: 1500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
  &_title {
    // width: 100%;
    width: 80%;
    border-radius: 2px;
    background: $color_bg;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    //Chữ trong thẻ tag đó
    span {
      font-size: 30px;
      margin-left: 20px;
      color: $color_font;
      font-weight: 600;
    }
  }
  &_details {
    width: 80%;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    // gap: 20px;

    &_img {
      width: 25%;

      display: flex;
      justify-content: center;
      align-items: center;
      img {
        // width: 200px;
        // height: 280px;
        width: 95%;
        transition: 0.8s ease-out;
        &:hover {
          transform: scale(1.05);
          transition: 0.5s ease-in-out;
          border-radius: 5px;

          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
            rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        }
      }
    }

    &_contents {
      height: 100%;
      width: 50%;

      display: flex;
      flex-direction: column;
      gap: 20px;

      //Tên, tác giả,..
      &_rows {
        width: 100%;

        display: flex;
        flex-direction: row;

        border-bottom: 1px solid rgb(255, 220, 235);
        padding: 15px 0;
        td {
          flex: 2;
          &:last-child {
            flex: 1;
          }
        }
        &:last-child {
          border-bottom: none;
        }
        .btnClick {
          background: #3f51b5;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}
