.mainPage {
  width: 100vw;
  height: 100vh;

  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 40px;
  &_header {
  }

  &_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
    &_nav {
      flex: 1;

      // height: 100%;
    }
    &_items {
      flex: 4;
    }
  }
}
