.formSearch {
  display: flex;
  justify-content: center;
  //   align-items: center !important;
  &_items {
    width: 80%;
    // flex: 5;
    display: flex;
    flex-direction: row;
    .formInput {
      flex: 4;
      &:focus {
        box-shadow: none;
      }
    }
    .formSearch {
      flex: 1;
      &:focus {
        box-shadow: none;
      }
    }
  }
}

//Admin
.formSearchAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // gap: 20px;

  //search user, authors, categories
  &_search {
    width: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    &_items {
      flex: 1;
      .formInput {
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  //asc,desc,search, add button
  &_order {
    padding-top: 10px;

    width: 90%;

    display: flex;
    justify-content: end;

    &_items {
      width: 50%;

      display: flex;
      gap: 10px;
      &_select {
        flex: 3;

        &:focus {
          box-shadow: none !important;
        }
      }
      &_btn {
        flex: 3;
        .icon {
          font-size: 20px;
          margin-right: 5px;
        }
        .title {
          font-size: 18px;
        }
        &:focus {
          box-shadow: none !important;
        }
      }
    }
  }
}
